.*png
wandb
plots_ring
plot
.*zip
__pycache__
*.bin
*.pyc
*.kv
*.npy
dataset/precomputed_embeddings
artifacts
dataset/precomputed_embeddings_with_labels
scenario_1
scenario_2
scenario_3.1_k64
scenario_3.2_k64
scenario_3.1_k128
scenario_3.2_k128
scenario_3.1_k256
scenario_3.2_k256
scenario_3.1_k384
scenario_3.2_k384
scenario_4.1_k64
scenario_4.2_k64
scenario_4.1_k128
scenario_4.2_k128
scenario_4.1_k256
scenario_4.2_k256
scenario_4.1_k384
scenario_4.2_k384
